[
    {
      "name" : "OPENCTI_URL",
      "value" : "${OPENCTI_PLATFORM_URL}"
    },
    {
      "name" : "CONNECTOR_ID",
      "value" : "${RANDOM_UUID}"
    },
    {
      "name" : "CONNECTOR_TYPE",
      "value" : "INTERNAL_ENRICHMENT"
    },
    {
      "name" : "CONNECTOR_NAME",
      "value" : "VirusTotal Downloader"
    },
    {
      "name" : "CONNECTOR_SCOPE",
      "value" : "StixFile"
    },
    {
      "name" : "CONNECTOR_AUTO",
      "value" : "false"
    },
    {
      "name" : "CONNECTOR_UPDATE_EXISTING_DATA",
      "value" : "true"
    },
    {
      "name" : "CONNECTOR_LOG_LEVEL",
      "value" : "info"
    }
]